@using WebsiteCakeNew.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
<div class="container d-flex flex-column" style="padding-top: 3em; padding-bottom: 5em">
    <h2><strong>Đăng nhập</strong></h2>
    <div class="row">
        <div class="col-md-6" style="padding:0">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <br />
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label word-wrap" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Nhập địa chỉ email" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger list-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label word-wrap" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Nhập mật khẩu" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger list-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            @Html.ValidationSummary(true,"", new { @class = "text-danger list-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10 d-flex align-items-baseline" style="gap:24px">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                            <p>
                                @Html.ActionLink("Đăng ký tài khoản ?", "Register", null, new { @class = "register-link" })
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Đăng nhập" class="btn btn-secondary" style="background-color: #f08632; border-color: #f08632;" />
                        </div>
                    </div>
                }
            </section>
        </div>
        <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                    <div class="instagram__pic">
                        <img src="~/Content/img/instagram/instagram-1.jpg" alt="" />
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                    <div class="instagram__pic middle__pic">
                        <img src="~/Content/img/instagram/instagram-2.jpg" alt="" />
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                    <div class="instagram__pic">
                        <img src="~/Content/img/instagram/instagram-3.jpg" alt="" />
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                    <div class="instagram__pic">
                        <img src="~/Content/img/instagram/instagram-4.jpg" alt="" />
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                    <div class="instagram__pic middle__pic">
                        <img src="~/Content/img/instagram/instagram-5.jpg" alt="" />
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                    <div class="instagram__pic">
                        <img src="~/Content/img/instagram/instagram-6.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}