@model WebBanBanhConnection.SHOPPING_CART
@using WebsiteCakeNew.Models.BUS
@{
    ViewBag.Title = "Giỏ hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="breadcrumb__text">
                    <h2>Giỏ hàng</h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="breadcrumb__links">
                    @Html.ActionLink("Trang chủ", "Index", "Home")
                    <span>Giỏ hàng</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Shopping Cart Section Begin -->
<section class="shopping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="shopping__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th>Sản phẩm</th>
                                <th>Số lượng</th>
                                <th>Tổng tiền</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                var cartItemList = CartItemBUS.ListCartItemWithShoppingCart(Model.ShoppingCartID);
                            }
                            @foreach (var cart in cartItemList)
                            {
                                var product = ShopBUS.ChiTiet((int)cart.ProductID);
                                var formattedPrice = string.Format("{0:N0}", product.Price - product.Price * (DiscountBUS.GetPercentByID(product.Discount) / (float)100));
                                var formattedSub = string.Format("{0:N0}", cart.Subtotal);
                                <tr>
                                    <td class="product__cart__item">
                                        <div class="product__cart__item__pic">
                                            <img src="~/Content/img/shop/@product.Image" alt="">
                                        </div>
                                        <div class="product__cart__item__text">
                                            <h6>@product.ProductName</h6>
                                            <h5>@formattedPrice VNĐ</h5>
                                        </div>
                                    </td>
                                    <td class="quantity__item">
                                        <div class="quantity">
                                            <div class="pro-qty">
                                                <input type="text" value="@cart.Quantity">
                                            </div>
                                        </div>
                                    </td>
                                    <td class="cart__price">@formattedSub VNĐ</td>
                                    <td class="cart__close"><a class="close" data-cart-item-id="@cart.CartItemID"><span class="icon_close"></span></a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="continue__btn">
                            <a href="@Url.Action("Index","Shop")">Tiếp tục mua hàng</a>
                        </div>
                    </div>                   
                </div>
            </div>
            <div class="col-lg-4">              
                <div class="cart__total">
                    <h6>
                        TỔNG GIỎ HÀNG
                    </h6>
                    <ul>
                        <li>Tổng tiền hàng<span>@string.Format("{0:N0}", Model.GrandTotal) VNĐ</span></li>
                        <li>Tổng thanh toán <span>@string.Format("{0:N0}", Model.GrandTotal) VNĐ</span></li>
                    </ul>
                    @if (Model.GrandTotal == null)
                    {
                        <a href="" class="primary-btn" id="none-cart">Tiến hành đặt hàng</a>
                    }
                    else
                    {
                        <a href="@Url.Action("Index", "Checkout", new { shoppingCartId = Model.ShoppingCartID})" class="primary-btn">Tiến hành đặt hàng</a>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shopping Cart Section End -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var closeButtons = document.querySelectorAll("a.close");

        closeButtons.forEach(function (button) {
            button.addEventListener("click", function (event) {
                event.preventDefault(); 
                var cartItemId = button.dataset.cartItemId;
                var xhr = new XMLHttpRequest();
                xhr.open("POST", "/CartItem/DeleteCartItem", true);
                xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded; charset=UTF-8");
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === 4 && xhr.status === 200) {
                        var response = JSON.parse(xhr.responseText);
                        if (response.success) {
                            location.reload();
                        } else {
                            alert("Lỗi khi xóa sản phẩm khỏi giỏ hàng");
                        }
                    }
                };

                var data = "cartId=" + cartItemId;
                xhr.send(data);
            });
        });      
    });
    document.getElementById("none-cart").addEventListener("click", function () {
        alert("Giỏ hàng chưa có sản phẩm !!!");
    })
</script>