@model PagedList.IPagedList<WebBanBanhConnection.PRODUCT>
@using PagedList.Mvc
@using WebsiteCakeNew.Models.BUS
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="product__item">
                <div class="product__item__pic set-bg" data-setbg="../../Content/img/shop/@(item.Image)">
                    <div class="product__label">
                        @{
                            var db = new ShopBUS();
                            string cate = db.GetCategoryProduct(item.ProductID);
                            if (cate != string.Empty)
                            {
                                <span>@cate</span>
                            }
                        }
                    </div>
                </div>
                <div class="product__item__text">
                    <h6><a href="@Url.Action("Details", new { id = @item.ProductID})">@item.ProductName</a></h6>
                    @{
                        var formattedPrice = string.Format("{0:N0}", item.Price - item.Price * (item.Discount / (float)100));
                    }
                    <div class="product__item__price">@formattedPrice VNĐ</div>
                    <div class="cart_add">
                        <a href="#">Thêm vào giỏ hàng</a>
                    </div>
                </div>
            </div>
        </div>
    }

</div>
<div class="shop__last__option">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="shop__pagination">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="shop__last__text">
                    @{
                        var startProductIndex = (Model.PageNumber - 1) * Model.PageSize + 1;
                        var endProductIndex = startProductIndex + Model.Count - 1;
                    }
                    <p>Hiển thị @startProductIndex-@endProductIndex trên @Model.TotalItemCount kết quả</p>
                </div>
            </div>
        </div>
</div>
