@model PagedList.IPagedList<WebBanBanhConnection.PRODUCT>
@using PagedList.Mvc
@using WebsiteCakeNew.Models.BUS
@{
    ViewBag.Title = "Category";
}
@{
    var c = new ShopBUS();
    string cateshow = "";
    if (Model.Count <= 0)
    {
        cateshow = "Không có sản phẩm nào";
    }
    else
    {
        cateshow = c.GetCategoryProduct(Model[0].ProductID);
    }
}
<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="breadcrumb__text">
                    <h2>@cateshow</h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="breadcrumb__links">
                    @Html.ActionLink("Trang chủ", "Index", "Home")
                    @Html.ActionLink("Sản phẩm", "Index", "Shop")
                    <span>@cateshow</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Shop Section Begin -->
<section class="shop spad">
    <div class="container">
        <div class="shop__option">
            <div class="row">
                <div class="col-lg-7 col-md-7">
                    @Html.Partial("_Category", WebsiteCakeNew.Models.BUS.CategoryBUS.DanhSach(), new ViewDataDictionary { { "Category", cateshow } })
                </div>
                @Html.Partial("_Sort", new ViewDataDictionary { { "CategoryOrIndex", "Category" }, { "CategoryName", cateshow } })
            </div>
        </div>
        @Html.Partial("_ProductList", Model)
    </div>
</section>
<!-- Shop Section End -->
