@model WebBanBanhConnection.SHOPPING_CART
@using WebsiteCakeNew.Models.BUS
@{
    var user = UserBUS.GetById(Model.UserID);
    var dbShipping = new UserShippingBUS();
    var shipping = dbShipping.GetDefaultShippingByUserID(user.UserID);
    var listCartItem = CartItemBUS.ListCartItemWithShoppingCart(Model.ShoppingCartID);
}
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (ViewBag.Error != null)
{
    <div class="alert alert-danger"><i class="fa fa-close"></i> @ViewBag.Error</div>
}
<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="breadcrumb__text">
                    <h2>Thanh toán</h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="breadcrumb__links">
                    @Html.ActionLink("Trang chủ", "Index", "Home")
                    <span>Thanh toán</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Checkout Section Begin -->
<section class="checkout spad">
    <div class="container">
        <div class="checkout__form">
            @using (Html.BeginForm("PlaceOrder", "Checkout", FormMethod.Post))
            {
                <div class="row">
                    <div class="col-lg-12 col-md-6">
                        <h6 class="coupon__code">
                            <span class="icon_tag_alt"></span> Bạn có phiếu giảm giá? <a href="#">
                                Nhấn vào đây
                            </a> để nhập mã của bạn
                        </h6>
                        <h6 class="checkout__title">
                            CHI TIẾT THANH TOÁN
                        </h6>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Họ và Tên</p>
                                    @{
                                        var name = @user.FirstName + " " + user.LastName;
                                    }
                                    <input type="text" value="@name" style="font-size: 1em;" disabled>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Số điện thoại</p>
                                    <input type="text" value="@user.Telephone" style="font-size: 1em;" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="checkout__input">
                            <p>Địa chỉ<span>*</span></p>
                            @{
                                var addr = "";
                                if (shipping == null)
                                {
                                    <script>
                                        alert('Vui lòng cung cấp địa chỉ giao hàng!');
                                        window.location.href = '../User/Index';
                                    </script>
                                }
                                else
                                {
                                    addr = shipping.Street + ", " + shipping.Ward + ", " + shipping.District + ", " + shipping.City + ", " + shipping.Country;
                                }
                            }
                            <input type="text" name="DeliveryAddress" value="@addr" style="font-size: 1em;">
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Email</p>
                                    <input type="text" value="@user.Email" style="font-size: 1em;" disabled>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="checkout__input">
                                    <p>Chọn ngày giao</p>
                                    <input id="dateShipping" name="ShippingDate" type="datetime-local" style="font-size: 1em; padding-right: 20px" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 d-flex flex-row align-items-center" style="gap:24px; margin-bottom: 18px">
                                <div>
                                    <input type="radio" id="afterPlacing" name="ShippingMethod" value="Giao ngay" checked>
                                    <label for="afterPlacing">Giao ngay</label>
                                </div>
                                <div>
                                    <input type="radio" id="chooseDate" name="ShippingMethod" value="Hẹn lịch giao">
                                    <label for="chooseDate">Hẹn lịch giao</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-6">
                        <div class="checkout__order">
                            <h6 class="order__title">Đơn hàng của bạn</h6>
                            <div class="checkout__order__products">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Sản phẩm</th>
                                            <th scope="col" style="text-align: center;text-wrap: nowrap;">Số lượng</th>
                                            <th scope="col" style="text-align: center; text-wrap: nowrap">Tổng</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in listCartItem)
                                        {
                                            var product = ShopBUS.ChiTiet((int)item.ProductID);
                                            var formattedSub = string.Format("{0:N0}", item.Subtotal);
                                            <tr>
                                                <td class="d-flex flex-row">
                                                    <img src="~/Content/img/shop/@product.Image" alt="" class="col-3">
                                                    <span class="col-9" style="text-wrap: nowrap">@product.ProductName</span>
                                                </td>
                                                <td style="text-align: center;">@item.Quantity</td>
                                                <td style="text-align: center; text-wrap: nowrap">@formattedSub VNĐ</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                <input type="hidden" id="listCartID" name="listCartID" />
                            </div>
                            <ul class="checkout__total__all">
                                <li>Tổng tiền thanh toán <span>@string.Format("{0:N0}", Model.GrandTotal) VNĐ</span></li>
                            </ul>
                            <div>
                                <input type="radio" id="cashOnDelivery" name="Payment" value="Thanh toán khi nhận hàng" checked onclick="showMomoForm()">
                                <label for="cashOnDelivery">Thanh toán khi nhận hàng</label>
                            </div>
                            <div>
                                <input type="radio" id="momoPayment" name="Payment" value="Thanh toán qua VNPAY" onclick="showMomoForm()">
                                <label for="momoPayment">Thanh toán bằng VNPAY</label>
                            </div>
                            <input type="hidden" name="TypePaymentVN" value="0" />
                            <input type="hidden" name="PaymentStatus" id="paymentStatus" style="font-size: 1em;" value="Chưa thanh toán trực tiếp">
                            <button type="submit" class="site-btn">Đặt hàng</button>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="UserID" value="@Model.UserID" style="font-size: 1em;">
                <input type="hidden" name="OrderTotal" value="@Model.GrandTotal" style="font-size: 1em;">
            }
        </div>
    </div>
</section>
<!-- Checkout Section End -->
<script>
    document.getElementById('chooseDate').addEventListener('change', function () {
        if (this.checked) {
            document.getElementById('dateShipping').removeAttribute('disabled');
            var currentDate = new Date();

            // Format ngày và giờ thành chuỗi phù hợp cho input datetime-local
            var currentDateString = currentDate.toISOString().slice(0, -8);

            // Set giá trị min cho input datetime-local
            document.getElementById('dateShipping').setAttribute('min', currentDateString);
        }
    });
    document.getElementById('afterPlacing').addEventListener('change', function () {
        if (this.checked) {
            document.getElementById('dateShipping').setAttribute('disabled', 'disabled');
            document.getElementById('dateShipping').value = null;
        }
    });
    document.getElementById('momoPayment').addEventListener('change', function () {
        if (this.checked) {
            document.getElementById('paymentStatus').value = "Chưa thanh toán trực tuyến";
        }
    });
    document.getElementById('cashOnDelivery').addEventListener('change', function () {
        if (this.checked) {
            document.getElementById('paymentStatus').value = "Chưa thanh toán trực tiếp";
        }
    });
    var listCartIDs = @Html.Raw(Json.Encode(listCartItem.Select(x => x.CartItemID).ToList()));
    document.getElementById("listCartID").value = listCartIDs.join(",");
</script>