@using WebsiteCakeNew.Models.BUS
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card card-success">
    <div class="card-header">
        <h3 class="card-title"><em><strong>Thêm sản phẩm mới</strong></em></h3>

        <div class="card-tools">
            <a style="margin-right:8px;padding:12px" href="@Url.Action("Index","ProductManager")">
                <i class="fas fa-times"></i>
            </a>
        </div>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("Create", "ProductManager", FormMethod.Post))
        {
            <div class="form-group">
                <label>Tên sản phẩm</label>
                <input type="text" class="form-control" placeholder="Nhập tên sản phẩm" name="ProductName" required>
            </div>
            <div class="form-group">
                <label>Mô tả sản phẩm</label>
                <textarea class="form-control" rows="4" placeholder="Nhập mô tả dài" name="Description" required></textarea>
            </div>
            <div class="form-group">
                <label>Mô tả ngắn</label>
                <textarea class="form-control" rows="4" placeholder="Nhập mô tả ngắn" name="ShortDescription" required></textarea>
            </div>
            <div class="form-group">
                <label>Danh mục sản phẩm</label>
                <div class="customCheckBoxHolder d-flex gap-12">
                    @foreach (var itemCate in CategoryBUS.DanhSach())
                    {
                        <input type="checkbox" id="@itemCate.CategoryID-cate" class="customCheckBoxInputCate" value="@itemCate.CategoryID">
                        <label for="@itemCate.CategoryID-cate" class="customCheckBoxWrapper">
                            <div class="customCheckBox">
                                <div class="inner">@itemCate.CategoryName</div>
                            </div>
                        </label>
                    }
                </div>
            </div>
            <input type="hidden" id="selectedCategoryIDs" name="SelectedCategoryIDs" />
            <div class="form-group">
                <label>Thẻ của sản phẩm</label>

                <div class="customCheckBoxHolder d-flex gap-12">
                    @foreach (var itemTag in TagBUS.DanhSach())
                    {
                        <input type="checkbox" id="@itemTag.TagID-tag" class="customCheckBoxInputTag" value="@itemTag.TagID">
                        <label for="@itemTag.TagID-tag" class="customCheckBoxWrapper">
                            <div class="customCheckBox">
                                <div class="inner">@itemTag.TagName</div>
                            </div>
                        </label>
                    }
                </div>
            </div>
            <input type="hidden" id="selectedTagIDs" name="SelectedTagIDs" />
            <div class="form-group">
                <label>Số lượng sản phẩm</label>
                <input type="number" class="form-control" placeholder="Nhập số lượng" min="0" name="StockNumber" required>
            </div>
            <div class="form-group">
                <label>Giá của sản phẩm</label>
                <input type="number" class="form-control" placeholder="Nhập giá sản phẩm" min="0" name="Price" required>
            </div>
            <div class="form-group">
                <label>Mã giảm giá</label>
                <select class="form-control" name="id" id="discountSelect">
                    <option value="">Không chọn mã giảm</option>
                    @{
                        var dbDiscount = new DiscountBUS();
                        foreach (var item in dbDiscount.GetListDiscount())
                        {
                            <option value="@item.DiscountID">@item.DiscountCode - @item.DiscountName</option>
                        }
                    }
                </select>
                <input type="hidden" id="discountInput" min="0" name="Discount" value="">
            </div>
            <div class="form-group">
                <label>Ngày tạo sản phẩm</label>
                <input type="text" class="form-control" placeholder="Ngày tạo sản phẩm" value="@DateTime.Now" readonly name="PublicationDate">
            </div>
            <div class="form-group">
                <label>Ảnh sản phẩm</label>
                <div id="dropzoneContainer" class="dropzone"></div>
                <input type="hidden" id="uploadedImage" name="Image" />
            </div>
            <input type="submit"
                   value="Thêm sản phẩm"
                   class="btn btn-success float-right" />
        }
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const form = document.querySelector("form");
        const selectedCategoryCheckboxes = document.querySelectorAll(".customCheckBoxInputCate");
        const selectedCategoryIDsInput = document.querySelector("#selectedCategoryIDs");
        const selectedTagCheckboxes = document.querySelectorAll(".customCheckBoxInputTag");
        const selectedTagIDsInput = document.querySelector("#selectedTagIDs");

        selectedCategoryCheckboxes.forEach(checkbox => {
            checkbox.addEventListener("change", function (event) {
                const selectedCategoryCheckboxesChecked = document.querySelectorAll(".customCheckBoxInputCate:checked");
                const selectedCategoryIDs = Array.from(selectedCategoryCheckboxesChecked).map(checkbox => checkbox.value);
                selectedCategoryIDsInput.value = selectedCategoryIDs.join(",");
            });
        });
        selectedTagCheckboxes.forEach(checkbox => {
            checkbox.addEventListener("change", function (event) {
                const selectedTagCheckboxesChecked = document.querySelectorAll(".customCheckBoxInputTag:checked");
                const selectedTagIDs = Array.from(selectedTagCheckboxesChecked).map(checkbox => checkbox.value);
                selectedTagIDsInput.value = selectedTagIDs.join(",");
            });
        });
    });
    document.getElementById('discountSelect').addEventListener('change', function () {
       document.getElementById('discountInput').value = this.value;
    });
    
</script>




