@model WebBanBanhConnection.PRODUCT
@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card card-danger">
    <div class="card-header">
        <h3 class="card-title"><em><strong>Xóa sản phẩm</strong></em></h3>

        <div class="card-tools">
            <a style="margin-right:8px;padding:12px" href="@Url.Action("Index","ProductManager")">
                <i class="fas fa-times"></i>
            </a>
        </div>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("Delete", "ProductManager", FormMethod.Post))
        {
            <div class="form-group">
                <label>Tên sản phẩm</label>
                <input type="text" class="form-control" name="ProductName" readonly value="@Model.ProductName">
            </div>
            <div class="form-group">
                <label>Mô tả sản phẩm</label>
                <textarea class="form-control" rows="4" name="Description" readonly>@Model.Description</textarea>
            </div>
            <div class="form-group">
                <label>Mô tả ngắn</label>
                <textarea class="form-control" rows="4" name="ShortDescription" readonly>@Model.ShortDescription</textarea>
            </div>
            <div class="form-group">
                <label>Số lượng sản phẩm</label>
                <input type="number" class="form-control" min="0" name="StockNumber" readonly value="@Model.StockNumber">
            </div>
            <div class="form-group">
                <label>Giá của sản phẩm</label>
                <input type="number" class="form-control" min="0" name="Price" readonly value="@Model.Price">
            </div>
            <div class="form-group">
                <label>Phần trăm giảm giá</label>
                <input type="number" class="form-control" min="0" name="Discount" readonly value="@Model.Discount">
            </div>
            <div class="form-group">
                <label>Ngày tạo sản phẩm</label>
                <input type="text" class="form-control" value="@Model.PublicationDate" name="PublicationDate">
            </div>
            <div class="form-group d-flex flex-column">
                <label>Ảnh sản phẩm</label>
                <img src="~/Content/img/shop/@Model.Image" alt="Ảnh sản phẩm" class="img-thumbnail" style="margin-bottom:12px; width: 600px" />
            </div>
            <input type="submit"
                   value="Xác nhận xóa"
                   class="btn btn-danger float-right" />
        }
    </div>
    <!-- /.card-body -->
</div>

