@model IEnumerable<WebBanBanhConnection.USER>
@using WebsiteCakeNew.Models.BUS
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@{
    var dbUser = new UserBUS();
}
@if (ViewBag.SuccessMessage != null)
{
    <div class="alert alert-success"><i class="fas fa-check" style="margin-right:8px"></i>@ViewBag.SuccessMessage</div>
}
<div class="card">
    <div class="d-flex align-items-center justify-content-between" style="padding: 0.75rem 1.25rem; border-bottom: 1px solid rgba(0, 0, 0, 0.125); background-color: #fcfcfc">
        <h3 class="card-title"><strong>DANH SÁCH NGƯỜI DÙNG VÀ KHÁCH HÀNG</strong></h3>
        <a class="btn btn-success btn-sm" href="@Url.Action("Create","UserManager")">
            <i class="fas fa-plus"></i>
            Thêm
        </a>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example2" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th style="text-transform: uppercase">STT</th>
                    <th style="text-transform: uppercase">Email</th>
                    <th style="text-transform: uppercase">Username</th>
                    <th style="text-transform: uppercase">Họ và tên</th>
                    <th style="text-transform: uppercase">Số điện thoại</th>
                    <th style="text-transform: uppercase">Phân quyền</th>
                    <th style="text-transform: uppercase">Thao tác</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td style="font-size: 18px; ">@item.UserID</td>
                        <td style="font-size: 18px;">@item.Email</td>
                        <td style="font-size: 18px;">@item.UserName</td>
                        <td style="font-size: 18px;">@item.LastName @item.FirstName</td>
                        <td style="font-size: 18px;">@item.Telephone</td>
                        <td style="font-size: 18px;">@dbUser.GetRoleUser(item.UserID)</td>
                        <td class="project-actions text-center" style="text-wrap: nowrap;">
                            <a class="btn btn-info btn-sm" href="@Url.Action("Edit","UserManager", new { id = item.UserID})">
                                <i class="fas fa-pencil-alt">
                                </i>
                                Sửa
                            </a>
                            <a class="btn btn-danger btn-sm" onclick="confirmDeleteUser(@item.UserID)">
                                <i class="fas fa-trash">
                                </i>
                                Xóa
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>

<script>
    function confirmDeleteUser(userID) {
        var result = confirm("Bạn có chắc chắn muốn xoá tài khoản này?");
            if (result) {
                window.location.href = '@Url.Action("RemoveUser", "UserManager")?userID=' + userID;
            }
    }
</script>
